/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


.error-404-nav-color {
    color: $body-color;
}

.error-logo {
    padding-top: 7.5rem;
    padding-right: 12rem;

    @include media-breakpoint-down(lg) {
        padding: 4rem;
    }

    img {
        width: 100%;
    }

    p {
        color: $body-color;
        text-align: center;
        padding-top: 5rem;
        font-weight: 300;
        color: #ccc;
        font-size: 0.9rem;
    }
}

#error-sidebar {
    padding-top: 8rem;
    padding-left: 3rem;

    @include media-breakpoint-down(xxl) {
        padding-left: 0;
    }

    @include media-breakpoint-down(lg) {
        padding: 0 6rem 0rem 6rem ;
    }
    
    h5 {
        font-size: 0.8rem;
        margin-bottom: 1px;
        color: #ccc;
    }
    
    ul {        
        li {
            border-bottom: 1px dotted #363636;
            
            a { 
                color: #ccc;              
                display: inline-block;
                font-family: $body-font;
                font-size: 0.9rem;
                font-weight: 500;
                line-height: 1;
                padding: 1rem 0.25rem;
                text-decoration: none;
                color: #ccc;

                &:hover {
                    color: #4c7e4e;
                }
                text-decoration: none;                
            }
            
            a:hover {
                color: #4c7e4e;
            }
        }
    }
}