
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 4.5rem;

	a {
        text-decoration: none;
    }

    .entry-title {

        h4 {
            margin-bottom: 1rem;
            line-height: 2.8rem;
            font-family: $heading-font;
        }
    }

    .entry-meta {

        a {
            color: #aeaeae;
        }

        .entry-categories {
            a {
                color: $theme-color;
            }
        }
    }

    .entry-link {
		color: #fdfdfd;
		font-family: $heading-font;
		background-color: #19d678;
		border-color: #19d678;
		margin-top: 2rem;
		font-size: .825rem;
		border-radius: 4rem;
		padding: 1rem 1.7rem;
    }
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	@include media-breakpoint-down(lg) {
		height: auto !important;

		img {
			height: auto !important;
		}
	}
}

.post-content {
	position: relative;
	padding: 2.8rem 0 0;
	margin-bottom: 1.875rem;

	@include media-breakpoint-down(lg) {
		height: auto !important;
	}
}

.entry-title {
	font-family: $body-font;
	line-height: $line-height-sm;		
	margin-bottom: 0.625rem;
	font-size: 1.875rem;
	font-weight: 800;
}

.entry-content {
	font-size: 1rem;
	color: #888887;
}

.entry-meta {
	list-style: none;
	margin-bottom: 0;

	li {
		font-size: $h6-font-size;
		line-height: 1;

		a {
			color: $body-color;

			&:hover { 
				color: $theme-color;
			}
		}
	}
}
