
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.container-fluid {
    overflow: hidden;
}

#about {
    @include media-breakpoint-up(lg) {
        padding-top: 12rem;
    }
}

.about-banner {
    position: absolute;
    top: calc(55rem - 27vw);
    right: 0;
    width: 100%;

    @include media-breakpoint-down(lg) {
        position: relative;
        top: 0;
    }
}

.bestseller {
    .ondress {
        font-size: 0.9375rem;
        padding: .7rem 1.2rem;
        background-color: #ff3263;
        border-radius: 1.875rem;
        font-weight: 800;
        font-family: $heading-font;
        letter-spacing: 0.05rem;
    }

	&.h4 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 6.125rem;
	}

	a {
		font-size: 1.215rem;
		font-weight: 300;
		font-family: sans-serif;
	}
}

.slick-prev {
    left: -3.5rem;
}

.slick-next, .slick-prev {
    top: 10rem;
}