
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #000000;
	position: relative;
	font-size: $h5-font-size;
}

#footer-main {
	padding: 6.25rem 6rem 3rem;
}

@include media-breakpoint-down(md) {

	#footer-main {
		padding: 6.25rem 2rem 3rem;
	}
}

#copyrights {
	color: #61605f;
	font-size: 0.875rem;
	font-weight: 300;	
	line-height: 1;
	z-index: 1;	
}
