
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	background-color: $dark;
	position: relative;
	// overflow: hidden;
	z-index: 99;

	// Transparent header
	&.transparent-header {
		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}
	}

	#navbarCollapse {
		background-color: $dark;
		position: fixed;
		right: 0;
		top: 0;
		width: 25%;
		height: 100%;

		@include transition($transition-collapse);

		&.collapse {
			&:not(.show) {
				display: block;
				  right: -25%;
			}
		}

		&.collapsing {
			right: -25%;
		}
	}
}


/* ----------------------------------------------------------------
	Navbar toggler
-----------------------------------------------------------------*/

.navbar-toggler {
	&:focus {
		@include box-shadow(none);
	}
}

.navbar-light .navbar-toggler {
	@include media-breakpoint-down(lg) {
		.navbar-toggler-icon {
			background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"));
		}
	}
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	// margin-right: 8rem;

	img {
		width: 9.375rem;
	}
}


/* ----------------------------------------------------------------
	Navbar
-----------------------------------------------------------------*/

.navbar {
	@include media-breakpoint-up(lg) {
		padding-left: 0;
		padding-right: 0;

		&.navbar-expanded  {
			.col-lg-10 {
				padding-right: 0;

				@include transition($transition-collapse);
			}

			&.collapsed {
				.col-lg-10 {
					padding-right: 25%;
				}
			}
		}
	}

	&.navbar-dark {
		.nav-link {
			color: $white;

			&:hover,
			&:focus {
				color: $theme-color;
			}
		}
	}

	&.navbar-light {
		.nav-link {
			color: $dark;

			&:hover,
			&:focus {
				color: $theme-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1;
		padding: 1.25rem 1.5rem;

		@include transition(all 0.5s ease-in-out);
	}

	.nav-item {
		& > .nav-link {
			color: $white;
		}

		&.current,
		&:hover {
			& > .nav-link {
				background-color: $theme-color;
				color: $white;

				@include media-breakpoint-up(lg) {
					padding: 2.8125rem 1.5rem 1.25rem;
				}
			}
		}

		& > .dropdown-menu {
			background-color: $white;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding: 1rem 1.5rem;

			&[data-bs-popper] {
				margin-top: 0;
			}

			@include media-breakpoint-up(lg) {
				position: relative;
				display: none;

				@include transition(transform .5s ease-out);
				@include translate3d(0, -100px, 0);
			}

			.nav-item {
				& > .nav-link {
					border: none;
					color: $dark;
					font-size: 0.875rem;
					font-weight: 400;
					padding: 0.75rem 0.9375rem;
				}

				&.current,
				&:hover {
					& > .nav-link {
						background-color: transparent;
						color: $theme-color;
					}
				}
			}
		}

		@include media-breakpoint-up(lg) {
			&.current,
			&:hover {
				.dropdown-menu {
					display: block;

					@include translate3d(0, 0, 0);
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include media-breakpoint-up(lg) {
		padding-top: 0;
		padding-bottom: 0;
	}

	.nav-link {
		font-size: $top-btn-font-size;
		line-height: 1;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@include media-breakpoint-up(lg) {
			// color: $dark;
			padding-left: $nav-link-padding-x;
			padding-right: $nav-link-padding-x;
		}

		&:hover {
			// color: $theme-color;
		}

		[data-cart-items] {
			position: relative;
			display: inline-block;

			&::before {
				content: attr(data-cart-items);
				position: absolute;
				top: -.5rem;
				right: -.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 19px;
				height: 19px;
				font-size: 11px;
				font-weight: 500;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: #ff6f61;
				color: #fff;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-link {
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@include media-breakpoint-up(lg) {
			// color: $dark;
			padding-left: $nav-link-padding-x;
			padding-right: $nav-link-padding-x;
		}

		&:hover {
			// color: $theme-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: 100%;
		left: 0;
		width: 100%;
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		a.dropdown-item {
			// color: $headings-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;
			padding: 0 0.75rem;

			&:hover {
				// color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social {
	position: absolute;
	left: 5.625rem;
	bottom: 5.125rem;

	ul {
		display: flex;
		width: 100%;

		@include media-breakpoint-up(lg) {
			transform-origin: 0 0;
			@include rotate(-90deg);
		}


		li {
			margin-right: 3.25rem;

			span,
			a {
				color: white;
				white-space: nowrap;
				text-transform: uppercase;
				font-size: 0.875rem;
			}

			a:hover {
				color: $theme-color;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		left: 0;
		bottom: initial;
		padding: 0 0 1rem 0;

		ul {
			justify-content: center;
		}
	}
}