
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	background-color: $dark;
	position: relative;
	
	// Transparent header
	&.transparent-header {
		z-index: 199;

		@include media-breakpoint-up(xl) {
			background-color: transparent;			

			& + #content,
			& + #contact-info,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}	

			#navbarCollapse {
				background-color: $dark;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				padding-left: 5rem;
				padding-right: 5rem;
			}
		}			
	}
}

#header-wrap {
	@include media-breakpoint-up(xl) {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.container-fluid {
		overflow: initial;
	}
}

.nav {
	flex-wrap: nowrap;
}

.navbar-light .navbar-toggler {
	@include media-breakpoint-down(xl) {
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
		}
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 8rem;

	img {
		width: 6rem;
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	padding-top: 1rem;

	@include media-breakpoint-up(lg) {
		padding-top: 0;
	}

	.nav-link {
		font-size: $top-btn-font-size;	
		line-height: 1;

		@include media-breakpoint-up(xl) {
			color: $dark;
		}			

		&:hover {
			color: $theme-color;
		}
		
		[data-cart-items] {
			position: relative;
			display: inline-block;

			&::before {
				content: attr(data-cart-items);
				position: absolute;
				top: -.5rem;
				right: -.75rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 19px;
				height: 19px;
				font-size: 11px;
				font-weight: 500;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: #ff6f61;
				color: #fff;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	a.nav-link {
		@include media-breakpoint-up(xl) {
			color: $dark;
		}		

		&:hover {
			color: $theme-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: 100%;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}

#top-social {
	position: absolute;
	left: 38%;
	bottom: 0;

    ul {
		li {
			transform: rotate(-90deg);
			margin-bottom: 8rem;

			a {
				color: white;
				white-space: nowrap;
				text-transform: uppercase;
				font-size: 0.875rem;
	
				&:hover {
					color: $theme-color;
				}
			}
		}
    }

    @include media-breakpoint-down(xl) {
		position: relative;
		left: 0;
		padding: 0 0 2rem 0;

		ul {
			display: flex;
			justify-content: center;
			gap: 3rem;

			li {
				transform: rotate(0deg);
				margin: 0;
			}
		}
    }
}

/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/
