
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	
	.title {
		display: block;		
		line-height: 1;
		margin-bottom: 1.875rem;
		font-size: 7.5rem;

		@include media-breakpoint-down(sm) {
			font-size: 4.5rem;
		}
	}
}