
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;		
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;		
		width: 100%;
		z-index: 1;
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	// margin-bottom: 1.875rem;
	position: relative;

	.product-image {
		position: relative;

		img {
			width: 100%;
		}

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: 1.875rem;
	}

	.product-price {
		color: #302f2d;
		display: flex;
		align-items: center;
		font-family: $body-font;
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1;

		del {
			color: #979797;
			font-size: 1rem;
			font-weight: 400;
			margin-left: 1.375rem;
		}
	}

	.product-categories {
		a {
			color: #ff5a7d;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.1875rem;
		font-weight: 300;
		line-height: 1.875rem;
		margin-bottom: 0.5rem;

		a {
			color: $heading-color;
			text-decoration: none;
		}

	}

	.product-rating {
		line-height: 1;
		color: #979797;

		i {
			color: rgb(228, 174, 37);
			font-size: 0.625rem;

			&.empty {
				color: rgba(rgb(228, 174, 37), 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		grid-gap: 0.5rem;
		padding: .875rem .375rem;
		opacity: 0;
		z-index: 2;
		
		@include transition(all 0.3s ease-in-out);
	}

	.add-to-cart,
	.add-to-wishlist {
		background-color: $white;
		border-radius: $button-radius;
		color: rgb(109, 109, 109);
		display: flex;		
		align-items: center;
		justify-content: center;
		font-size: 1.25rem;
		line-height: 1;
		width: 3.375rem;
		height: 3.375rem;				
		text-decoration: none;
		padding: 0;

		@include transition(all 0.3s ease-in-out);				

		&:hover {
			background-color: $theme-color;
			color: $white;
		}
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: "Roboto Slab",serif;
	font-size: .8rem;
	line-height: 1;
	font-weight: 500;
	letter-spacing: .5px;
	text-transform: uppercase;
	padding: .7rem 1.2rem;
	position: absolute;
	left: 1rem;
	top: 1rem;
	z-index: 2;
	border-radius: 1.875rem;
}


.onhot {
	background-color: #ff3263;
	color: $white;
}

.onnew {
	background-color: #19d678;
	color: $white;
}

.onbest {
	background-color: #8b5ec7;
	color: $white;
}

.ontop {
	background-color: #5adbde;
	color: $white;
}

.onsale {
	background-color: #ffc83a;
	color: $white;
}

.banner-wishlist {
	color: #ff3263;
	position: absolute;
	right: 1.875rem;
	top: 1.875rem;
	z-index:3;
}
/* Top Products
-----------------------------------------------------------------*/
#top-products {
	.product-image {
		img {
			max-height: 22.375rem;
		}		
	}

	.product-btns {
		position: initial;
		padding: 0;
		opacity: 1;
		
		.add-to-cart {
			&:hover {
				background-color:$theme-color !important;
			}
		}
		
	}

	.add-to-wishlist {
		color: #ff3263;
		position: absolute;
		right: 1.875rem;
		top: 1.875rem;
		z-index:3;
	}

}

/* Ads
-----------------------------------------------------------------*/
.ads {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 36rem;
	width: 100%;
	position: relative;

	@include media-breakpoint-down(lg) {
		padding: 9rem 0 9rem 0 !important;
	}

	.ads-content {
		position: absolute;
		top: 11rem;

		&.ads-content-left {
			left: 4.375rem;
		}
	
		&.ads-content-right {
			right: 4.375rem;
		}
	}

	.title {
		background-color: #f8a01b;
		padding: .5rem 0.9rem;
		border-radius: 4rem;
		font-size: .9375rem;
		font-weight: 700 !important;
		font-family: 'Roboto Slab' !important;
	}

	h2 {
		font-size: 4rem;
	}

	button {
		border-radius: 4rem;
		padding: 1.8rem 2.2rem;
		font-size: .9rem;
		font-weight: 700;
		margin-top: 2rem;
		font-family: 'Roboto Slab';
		letter-spacing: 0.05rem;
	}
}