
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Category
-----------------------------------------------------------------*/

.category {
	position: relative;
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
}


/* ----------------------------------------------------------------
	Product
-----------------------------------------------------------------*/

.product {
	margin-bottom: 1.875rem;
	position: relative;

	.product-image {
		position: relative;

		img {
			width: 100%;
		}

		> a:not(.add-to-wishlist):nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: 1.875rem;
	}

	.product-price {
		color: $body-color;
		display: flex;
		align-items: center;
		font-family: $body-font;
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1;

		del {
			color: $gray-600;
			font-size: 1rem;
			font-weight: 400;
			margin-left: 1.375rem;
		}
	}

	.product-categories {
		a {
			color: $skyblue;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.1875rem;
		font-weight: 300;
		line-height: 1.875rem;
		margin-bottom: 0.5rem;

		a {
			color: $headings-color;
			text-decoration: none;
		}

	}

	.product-rating {
		line-height: 1;
		color: $gray-600;

		i {
			color: $yellow;
			font-size: 0.875rem;
		}
	}

	.add-to-wishlist {
		color: $red;
		position: absolute;
		right: 1.875rem;
		top: 1.875rem;
		z-index: 1;

		@include media-breakpoint-up(xl) {
			opacity: 0;
		}
	}

	.add-to-cart {
		background-color: $theme-color;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		line-height: 1;
		width: 3.375rem;
		height: 3.375rem;
		text-decoration: none;
		padding: 0;

		@include border-radius(3.375rem);
	}

	&:hover {
		.add-to-wishlist {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	&.product-on-image {
		.add-to-cart,
		.add-to-wishlist {
			background-color: $white;
			color: $light;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			line-height: 1;
			width: 3.375rem;
			height: 3.375rem;
			text-decoration: none;
			padding: 0;
			position: initial;
			opacity: 1;

			@include border-radius(3.375rem);
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background-color: $theme-color;
				color: $white;
			}
		}

		.product-btns {
			display: flex;
			justify-content: center;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			grid-gap: 0.5rem;
			padding: .875rem .375rem;
			z-index: 2;

			@include media-breakpoint-up(xl) {
				opacity: 0;
			}

			@include transition(opacity 0.3s ease-in-out);
		}

		@include media-breakpoint-up(xl) {
			&:hover {
				.product-btns {
					opacity: 1;
				}
			}
		}
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: $heading-font;
	font-weight: 800;
	font-size: .9375rem;
	line-height: 1;
	font-weight: 500;
	letter-spacing: .5px;
	text-transform: uppercase;
	padding: .8rem 1.2rem;
	position: absolute;
	left: 1rem;
	top: 1rem;
	z-index: 2;
	border-radius: 1.875rem;
}


.onhot {
	background-color: $red;
	color: $white;
}

.onnew {
	background-color: $theme-color;
	color: $white;
}

.onbest {
	background-color: $purple;
	color: $white;
}

.ontop {
	background-color: $skyblue;
	color: $white;
}

.onsale {
	background-color: $yellow;
	color: $white;
}

.banner-wishlist {
	color: $red;
	position: absolute;
	right: 1.875rem;
	top: 1.875rem;
	z-index:3;
}


/* ----------------------------------------------------------------
	Ads
-----------------------------------------------------------------*/

.ads {
	position: relative;
	display: block;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
	}

	&.ads1 {
		.ads-body {
			padding: 7.5rem;

			.ads-content {
				position: absolute;
				top: 11rem;

				&.ads-content-left {
					left: 4.375rem;
				}

				&.ads-content-right {
					right: 4.375rem;
				}
			}

			.onsale {
				position: initial;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Product Filters
-----------------------------------------------------------------*/

.product-filters {
	.filter-title {
		color: $headings-color;
		font-size: .875rem;
		font-family: $body-font;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0.75rem;
	}

	ul li ul {
		padding-left: 2.25rem;
	}

	.product-filter-color {
		ul li {
			display: inline-block;
			margin-right: 5px;

			.filter-color {
				width: 1.875rem;
				height: 1.875rem;
				margin: 0;
				border: none;

				&:checked::after {
					top: 8px;
					left: 12px;
					width: 6px;
					height: 10px;
				}

				&#color_ffffff {
					border: 1px solid #dcdcdc;

					&:checked::after {
						border-color: #373737;
					}
				}
			}
		}
	}

	.product-filter-size {
		ul li {
			display: inline-block;
			position: relative;
			margin-right: 5px;

			.filter-size {
				width: 3.125rem;
				height: 2.5rem;
				margin: 0;
				border: none;

				& + label {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 1;

					@include translate3d(-50%, -50%, 0);
				}

				&:checked {
					background-color: $theme-color;
					color: $white;

					& + label {
						color: $white;
					}

					&::after {
						display: none;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Reviews
-----------------------------------------------------------------*/

#reviews {
	#comments {
		.reviews-title {
			font-size: 1.125rem;

			span {
				color: $body-color;
				font-family: $body-font;
				font-size: 0.875rem;
				font-weight: 400;
				margin-left: 0.625rem;
			}
		}

		ul.comment-list {
			.review {
				margin-bottom: 1.125rem;

				.comment-container {
					display: flex;

					.comment-text {
						margin-left: 1.125rem;
						padding-top: 0.3125rem;

						.meta {
							line-height: 1;
							margin-bottom: 0;

							.review-author {
								color: $headings-color;
							}

							.review-date {
								margin-left: 0.5rem;
							}
						}

						.description {
							p {
								margin-bottom: 0;
							}
						}
					}
				}

				.rating {
					.star-rating {
						i {
							color: $yellow;
							font-size: 0.75rem;
						}
					}

					.rating-text {
						color: $headings-color;
						font-size: 0.75rem;
					}
				}
			}
		}
	}

	#review_form {
		margin-top: 2.25rem;
		padding: 1.875rem 0;

		@include border-radius(0.5rem);

		.comment-respond {
			.comment-form {
				margin-bottom: 0;

				.stars {
					a {
						color: $yellow;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shop Table
-----------------------------------------------------------------*/

.shop-table {
	td, th {
		padding: 1rem;
	}

	thead {
		tr {
			th {
				border: none;
				font-weight: 600;
				font-size: 0.75rem;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom-width: 5px;
				border-color: transparent;
				vertical-align: middle;
			}
		}
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: transparent;
	}

	& > :not(caption) > * > * {
		border-bottom-width: 0;
	}
}