
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	.widget-title {
		color: #faf7fa;		
		font-size: 0.875rem;
		margin-bottom: 1.375rem;
		font-weight: 600;
		font-family: $body-font;
		text-transform: uppercase;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {
			padding-top: 0.75rem;

			li {
				padding: 0 0.25rem;

				&:last-child {
					padding-right: 0;
				}
		
				a {
					background-color: #303135;					
					color: $white;
					display: inline-block;
					line-height: 1.8125rem;
					width: 1.8125rem;
					height: 1.8125rem;		
					vertical-align: middle;
					text-align: center;
					@include border-radius(50%);
					@include transition(all 0.3s ease-in-out);
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}
				}
			}
		}
	}



	// Widget - Links
	&.widget-links {
		ul {
			li {
				a {
					color: #61605f;
					font-size: 1rem;
					text-decoration: none;
					line-height: 1.875rem;		

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.25rem;
				width: 3.5rem;
				height: 2rem;
				background-color: #d6d3cc;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;

				@include border-radius(0.25rem);

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		.widget-content {
			p, a{
				color: #61605f;
				display: block;
				text-decoration: none;
			}
		}
	}

	// Widget - Subscribe
	&.widget-subscribe {
		.widget-content {
			#widget-subscribe-form {
				.form-control,

				.btn {
					@include border-radius(1.625rem);
				}
				
				.input-group-append {
					margin-left: -2.875rem;
				}
			}
		}
	}
}