
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 4.25rem; 
	position: relative;

	.title {		
		display: block;
		font-family: $heading-font;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0;
		font-size: 3.125rem;
	}
}