/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/


.timeline {
    padding-top: 9.125rem;
    padding-bottom: 9.125rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    @include media-breakpoint-up(lg) {
        margin-left: -3.375rem;
        padding-left: 0;
        padding-right: 0;
    }    

    .slick-prev {
        left: -3.5rem;
    }
    
    .slick-next, .slick-prev {
        top: 10rem;
    }

    .events {
        .event {
            .ondress {
                display: inline-block;
                font-size: 0.9375rem;
                padding: .7rem 1.2rem;
                background-color: #ff3263;
                border-radius: 1.875rem;
                font-weight: 800;
                font-family: $heading-font;
                letter-spacing: 0.05rem;
            }
        
            &.h4 {
                font-size: 1.75rem;
            }
        
            h2 {
                font-size: 6.125rem;
            }
        
            a {
                font-size: 1.215rem;
                font-weight: 300;
                font-family: sans-serif;
            }
        }   
    }        
}